@font-face{
    font-family: XBex;
    src: url(../fonts/Xbex.ttf);
}

body{
    /*Removes spacing between divs and body.*/
    margin:0;
    padding:0;
    background-color: black;
    font-family: Verdana, sans-serif!important;
    display: flex;
}

a{
    color: white;
}

p, h1, h2, h3, h4, h5, h6{
    color: white;
}

hr{
    border: thick solid purple;
    text-align: center;
    width: 75%;
}

.headerBar{
    background-color: black;
    flex: 10%;
    height: 100%;
    margin: 0px;
    text-align: center;
    font-family: XBex;
    font-size: large;
}

.headerBar p:hover{
    animation-name: navigationHover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.bodyBar{
    background-color: rgb(25, 25, 25);
    flex: 90%;
    font-size: large;
    margin: 0px;
}

.bodyBar h1{
    text-align: center;
    font-family: Xbex;
}

.bodyBar p{
    margin: 50px;
    margin-top: 20px;
}