body{
    /*Removes spacing between divs and body.*/
    margin:0;
    padding:0;
    background-color: #D7C6E6;
}

a{
    color: black;
}

p{
    margin-left: 20px;
    margin-right: 20px;
}

.frontPage{
    width: 1024px;
    margin: auto;
    border: thick solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    background-color: #B39DDB;
}

.headingBar{
    background-color: #DBA29D;
    width: 100%;
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: thick solid black;
}

.projectSelection{
    margin: auto;
    margin: 15px;
    border: thick solid black;
    border-radius: 10px;
}

#myTime{
    /*Align text to the right*/
    text-align: right;
    margin: 10px;
    font-weight: bold;
}

#languageSelect{
    margin-left: 5px;
}